.weatherCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  height: 200px;
  border: 1px solid #fff;
  font-size: 12px;
  padding: 5px 8px;
  outline: none;
  margin-right: 10px;
  padding-right: 18px;
  height: 100%;
  width: 20%;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: monospace;
  cursor: pointer;
}

.date {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.weatherDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.desc {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
