.topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4); /* 0.5% opacity white */
  padding: 10px 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContent {
  width: 100%;
  margin: 110px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    margin: 200px auto;
  }
}

.navWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
