.wrap {
  display: flex;
  margin: 0 18px;
  align-items: center;
  user-select: none;
}
.wrap div {
  position: relative;
}
.wrap div input {
  border-radius: 15px;
  height: 20px;
  border: 1px solid #fff;
  font-size: 12px;
  padding: 5px 8px;
  outline: none;
  margin-right: 10px;
  padding-right: 18px;
  height: 100%;
}
.wrap p {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  line-height: 20px;
  margin: 0;
}
.wrap p svg {
  margin-right: 5px;
}
.wrap p span {
  font-size: 16px;
}
.searchToggle {
  animation: search 100ms ease-in-out;
}

.span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}

@keyframes search {
  from {
    width: 0px;
  }
  to {
    width: 140px;
  }
}
